html{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;

}

.header{
  height: 8%;
}

.titulo-tabla{
    text-align: center;
}

.buton-input {
    display: inline-block;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color: #3498db;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .buton-input:hover {
    background-color: #2980b9;
  }

  .buton-input:focus {
    outline: none;
  }


  /*ESTILO DE LA TABLA*/

  .section-table{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section-inputs{
    width: 90%;
    text-align: right;
  }

  .mi-tabla {
    border-collapse: collapse;

    width: 90%;
  }
  
  .mi-tabla th, .mi-tabla td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }

  .mi-tabla .nombres{
    text-align: left;
  }
  
  .mi-tabla th {
    background-color: #f2f2f2;
  }
  
  #tabla-personas {
    margin-top: 20px;
  }


  /*ESTILOS PARA EL  FOOTER*/

  .footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #333;
    color: #fff;
    padding: 20px;
    opacity: 1;
    transition: opacity 0.5s ease;
  }

  .footer-hidden {
    opacity: 0;
  }
  
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer-text {
    margin: 0;
    font-size: 14px;

  }
  
  .footer-links {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .footer-links li {
    margin: 0 10px;
  }
  
  .footer-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
  }
  
  .footer-links li a:hover {
    text-decoration: underline;
  }
  