.titulo-tabla{
    text-align: center;
}

.buton-input {
    display: inline-block;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color: #3498db;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .buton-input:hover {
    background-color: #2980b9;
  }

  .buton-input:focus {
    outline: none;
  }


  /*ESTILO DE LA TABLA*/

.mi-tabla {
    border-collapse: collapse;
    width: 100%;
  }
  
  .mi-tabla th, .mi-tabla td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .mi-tabla th {
    background-color: #f2f2f2;
  }
  
  #tabla-personas {
    margin-top: 20px;
  }